<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cats</title>
</head>
<body>
	<div class="container">
		<img src="../images/cats/cat1.png" alt="tabby cat">
		<img src="../images/cats/cat2.png" alt="mix cat">
    <img src="../images/cats/cat3.png" alt="grey cat">
    <img src="../images/cats/cat4.png" alt="grey cat">
		<img src="../images/cats/cat5.png" alt="savanah cat">
    <img src="../images/cats/cat6.png" alt="tabby mix cat">
    <img src="../images/cats/cat7.png" alt="tabby mix cat">
		<img src="../images/cats/cat8.png" alt="mix cat">
    <img src="../images/cats/cat9.png" alt="tabby cat">
    <img src="../images/cats/cat10.png" alt="tabby cat">
		<img src="../images/cats/cat11.png" alt="persian tabby cat">
		<img src="../images/cats/cat12.png" alt="spotted cat">
	</div>
</body>
</html>