<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title>New Cat</title>
</head>
<body>
	<div class="container">
		<h1>Add a new cat</h1>
		<form action="#" method="post">
			<p>Name</p>
			<input type="text" name="name" id="name">
			<p>Type</p>
      <input type="text" name="type" id="type">
      <p>Color</p>
			<input type="text" name="color" id="color">
			<p>Age</p>
			<input type="number" name="age" id="age">
			<button type="submit">Submit</button>
		</form>
	</div>
</body>
</html>