<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Survey Form</title>
</head>
<body>
	<div class="container">
		<form action="/process" method="post">
			<p class="formitem">
				Your Name:
				<input type="text" name="name" id="name">
			</p>
			<p class="formitem">
				Dojo Location:
				<select name="loc" id="loc">
                    <option value="Berk">Berkeley, CA</option>
                    <option value="LA">Los Angeles, CA</option>
                    <option value="OC">Orange County, CA</option>
                    <option value="SV">Silicon Valley, CA</option>
                    <option value="Chicago">Chicago, IL</option>
					<option value="Seattle">Seattle, WA</option>
					<option value="Boise">Boise, ID</option>
                    <option value="Dallas">Dallas, TX</option>
                    <option value="Tulsa">Tulsa, OK</option>
                    <option value="TC">Tyson Corner, VA</option>
				</select>
			</p>
			<p class="formitem">
				Favorite Language
				<select name="lang" id="lang">
                    <option value="java">Java</option>
					<option value="js">Javascript</option>
					<option value="python">Python</option>
                    <option value="ruby">ruby</option>
                    <option value="c++">C++</option>
                    <option value="c#">C#</option>
                    <option value="php">PHP</option>
                    <option value="perl">perl</option>
				</select>
			</p>
			<p class="formitem">
				Comment: <span class="opt">(optional)</span>
				<textarea name="comment" id="comment" cols="30" rows="10"></textarea>
			</p>
			<button type="submit">Submit</button>
		</form>
	</div>
</body>
</html>