<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cats</title>
</head>
<body>
    <h1>Cats</h1>
    <div class="container">
        <div class="catlist">
            <a href="/cats/1"><img src="images/cats/cat1.png" >
            <a href="/cats/2"><img src="images/cats/cat2.png" >
            <a href="/cats/3"><img src="images/cats/cat3.png" >
            <a href="/cats/4"><img src="images/cats/cat4.png" >
            <a href="/cats/5"><img src="images/cats/cat5.png" >
            <a href="/cats/6"><img src="images/cats/cat6.png" >
            <a href="/cats/7"><img src="images/cats/cat7.png" >
            <a href="/cats/8"><img src="images/cats/cat8.png" >
            <a href="/cats/9"><img src="images/cats/cat9.png" >
            <a href="/cats/10"><img src="images/cats/cat10.png" >
            <a href="/cats/11"><img src="images/cats/cat11.png" >
            < href="/cats/12"><img src="images/cats/cat12.png" >
        </div>   
    </div>
</body>
</html>
