* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.container{
    text-align: center;
}
table{
    border-collapse:collapse;
    width:15%;
    margin: 0 auto;
}
table, th, td{
    text-align: left;
    border: 1px solid black;
    width: 40%
}
th, td{
    padding: 3px;
}

.pet-entry{
    text-align: center;
    display: inline-block;
    margin: 2rem;
}
.pet-entry form input{
    display: block;
    text-align: left;
    padding: 10px 10px 10px 10px;
    margin: 2%;
}
#submit-btn{
    display: inline-block;
    text-align: center;
    width: 100px;
}