* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.flashes{
    font-size: 12pt;
    color:red;
}
.container {
    width: 80%;    
    font-size: 30px;
    background-color: lightgrey;
}
input[type=text], select, textarea {
    width: 100%;
    font-size: 12pt;
    padding: 12px;
    margin-left: 0 40px ;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    padding: 5px 5px 5px 5px;
    margin-right: 15px;
  }
label {
    font-size: 15pt;
    padding: 12px 12px 12px 30px;
    display: inline-block;
  }
  
input[type=submit] {
    background-color: #4CAF50;
    width: 200px;
    color: white;
    padding: 12px 20px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-right-style:groove;
    border-bottom-style: groove;
    border-color: dark gray;
    border-radius: 8px;
    cursor: pointer;
    float: right;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  button a {
    background-color: #4CAF50;
    width: 200px;    
    padding: 12px 20px;
    border-right-style:groove;
    border-bottom-style: groove;
    border-color: dark gray;
    border-radius: 8px;
    cursor: pointer;
    float: right;
  }