* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
	width: 1070px;
	margin: 0px auto;
	padding: 5px;
	overflow: hidden;
	/*font-family: Helvetica, Verdana;
	font-size: 11pt;
    color: black;*/
}
#centralize {
    margin: 2em;
}